$mc-blue-grey-50: #ECEFF1;
$mc-blue-grey-400: #78909C;
$mc-blue-grey-600: #546E7A;
$mc-blue-grey-800: #37474F;
$mc-blue-grey-900: #263238;

$mc-amber-A400: #FFC400;
$mc-amber-100: #FFECB3;
$mc-amber-300: #FFD54F;
$mc-amber-400: #FFCA28;

$text-inverse-primary: rgba(255, 255, 255, 0.56);


$accent: $mc-amber-A400;
