@import "~react-toolbox/lib/colors";
@import '../../style-constants/colours.scss';

.button {
  width: 100%;
  font-weight: 600;
  color: var(--palette-blue-grey-300) !important;
  text-align: left;

  &.flat:hover:not([disabled]){
    background: var(--accent) !important;
    color: var(--palette-blue-grey-500) !important;
  }
}

:global(.active) .button {
  background: var(--palette-blue-grey-700);
}
/* .navButton { */
/*   height: auto; */
/*   text-transform: none; */
/*   text-align: left; */
/*   padding: 16px 40px; */
/*   line-height: 24px; */
/*   color: $mc-blue-grey-400; */
/*   &:hover { */
/*     background: $mc-amber-400; */
/*     color: $mc-blue-grey-800; */
/*   } */
/*   @media screen and (max-width: 1024px) { */
/*     padding: 16px 16px; */
/*   } */
/* } */

.menuTitleWrapper {
  display: flex;
  height: 128px;
  background: var(--palette-blue-grey-900);
  color: var(--palette-blue-grey-50);
  line-height: 3em;
  font-weight: 100;
  padding: 16px;
  white-space: nowrap;
}

.menuTitle {
  align-self: flex-end;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
}

.avatar {
  background-color: var(--accent);
}
