@import '../../styles/colours.scss';

.navButton {
  height: auto;
  text-transform: none;
  text-align: left;
  padding: 16px 40px;
  line-height: 24px;
  color: $mc-blue-grey-400;
  &:hover {
    background: $mc-amber-400;
    color: $mc-blue-grey-800;
  }
  @media screen and (max-width: 1024px) {
    padding: 16px 16px;
  }
}

.menuTitleWrapper {
  display: flex;
  height: 128px;
  width: 240px - 32px;
  background: $mc-blue-grey-900;
  color: $mc-blue-grey-50;
  font-size: 0.6em;
  line-height: 3em;
  font-weight: 100;
  padding: 16px;
  white-space: nowrap;

}

.menuTitle {
  align-self: flex-end;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
}

.avatar {
  display: block;
  border-radius: 50%;
  background: $accent;
  color: $mc-amber-100;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 1.5em;
}
