@import "~react-toolbox/lib/colors";

:root {
  --primary: var(--palette-teal-400);
  --primary-dark: var(--palette-teal-700);
  --accent: var(--palette-amber-a400);
  --accent-dark: var(--palette-amber-a700);
}
