@import '../../style-constants/colours';
@import '../../style-constants/dimins';

:local(.home-menu) {
  background: $primary;
  color: $text-inverse;
  heiht: $top-bar-height;
}

:global(.pure-menu-heading) {
  color: $text-inverse;
}
