.profile-pic {
  border-radius: 50%;
}

.username {
  color: white
}

.photo-span {
  height: 40px;
}

:local(.user-display) {
  float: right;
  > span {
    display: block;
    text-align: center;
  }
}


:local(.home-menu) {
  background: #2d3e50;
}

:global(.pure-menu-heading) {
  color: white;
}
