@import '../../style-constants/colours';

.profile-pic {
  border-radius: 50%;
}

.username {
  color: $text-inverse;
}

.photo-span {
  height: 40px;
}

:local(.user-display) {
  float: right;
  > span {
    display: block;
    text-align: center;
  }
}

:local(.home-menu) {
  background: $primary;
  color: $text-inverse;
}

:global(.pure-menu-heading) {
  color: $text-inverse;
}
