.sign-in-form {
  text-align: center;
}

.sign-in-error {
  color: red;
  margin-left: 2em;
  margin-right: 2em;
}

.sign-in-heading {
  text-align: center;
}

.login-button {
  width: 140px;
  height: 100px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}
